*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #222;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

img{
    padding-top: 10%;
    
}